body {
  padding: 0;
}

.spotMap-outer {
  display: none;
}

.spotMap-listOuter-wrap {
  position: absolute;
  bottom: 10px;
}

.spotMap-listOuter {
  box-sizing: border-box;
  margin: 0 auto;
  height: 106px;
  text-align: left;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  border: 0;
}

.spotMap-listItem {
  background: #fff;
  height: 102px;
  padding: 0;
}

.spotMap-listOuter > ul {
  top: 0;
  left: 0;
  height: 400px;
  position: absolute;
  overflow: hidden;
}

.spotMap-listOuter > ul > li {
  margin-left: 10px;
  float: left;
  display: inline;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.3);
}

.spotMap-listOuter > ul:after {
  content: ".";
  height: 0;
  clear: both;
  display: block;
  visibility: hidden;
}
 
.spotMap-listOuter > ul {
  display: inline-block;
  overflow: hidden;
}

.spotMap-listItem .spotMap-itemPhoto {
  width: 102px;
  height: 102px;
  overflow: hidden;
  text-align: center;
}

.spotMap-listItem .spotMap-itemInfo {
  padding-right: 5px;
}

.spotMap-listItem .spotMap-itemInfo:after {
  display: none;
}

.spotMap-listItem > .spotMap-itemPhoto > img {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  height: auto;
}

.spotMap-listItem > .spotMap-itemPhoto > img.is-vertical{
  width: 100%;
}
.spotMap-listItem > .spotMap-itemPhoto > img.is-horizontal{
  height: 100%;
}

.item-rating {
  font-size: 10px;
  margin-top: 15px;
}

.spotMap-itemInfo dd {
  margin-top: 10px;
}

.spotlist-tit {
  font-size: 12px;
  line-height: 15px;
  font-weight: normal;
  display: block;
}

.item-area {
  font-size: 10px;
  line-height: 12px;
  font-weight: normal;
  display: block;
}

.reviewPoint {
  font-size: 10px !important;
  font-weight: bold;
  color: #333;
}

.starPeople {
  font-size: 10px;
  color: #333;
}

.item-rating span {
  vertical-align: bottom;
}

.btn-pager.next {
  background: rgba(0, 0, 0, 0.7) url(/ab/asb/sp/images/icon_nextpage.png) no-repeat 50% 25%;
  background-size: 16px 26px;
  height: 48px;
  width: 48px;
}

.btn-pager.prev {
  background: rgba(0, 0, 0, 0.7) url(/ab/asb/sp/images/icon_previewpage.png) no-repeat 50% 25%;
  background-size: 16px 26px;
  height: 48px;
  width: 48px;
}

.btn-pager__nextText {
  position: absolute;
  top: 35px;
  right: 3.5px;
  color: #fff;
  font-size: 10px;
}

.btn-pager__prevText {
  position: absolute;
  top: 35px;
  right: 56px;
  color: #fff;
  font-size: 10px;
}

.btn-list {
  background: rgba(0, 0, 0, 0.7) url(/ab/asb/sp/images/icon_list.png) no-repeat 50% 25%;
  background-size: 27px 26px;
  border-radius: 5px;
  position: absolute;
  height: 48px;
  width: 48px;
  top: 10px;
  left: 10px;
}

.btn-list__text {
  position: absolute;
  top: 35px;
  left: 3.5px;
  color: #fff;
  font-size: 10px;
}

.btn-reSearch {
  position: absolute;
  bottom: 132px;
  right: 10px;
  background: rgba(0, 0, 0, 0.7) url(/ab/asb/sp/images/icon_search.png) no-repeat 50% 25%;
  background-size: 17px 17px;
  border-radius: 50%;
  height: 48px;
  width: 48px;
}

.btn-reSearch__text {
  position: absolute;
  bottom: 9px;
  right: 9px;
  color: #fff;
  font-size: 10px;
}

.activitySearch {
  margin-top: 10px;
  padding: 0;
}

.activitySearch-condition {
  padding: 0 10px;
}

.activitySearch-btn span {
  display: inline-block;
  width: 100%;
  padding: 10px 10px;
  background: #fc5a20;
  color: #fff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-weight: bold;
  font-size: 22px;
  border-radius: 0;
  border: 0;
  cursor: none;
}

.activitySearch-condition {
  margin-top: 15px;
}

.activitySearch-results {
  margin-top: 15px;
}

.conditionClearLink > a {
  font-size: 12px;
}

.js-togglePanel {
  display: block;
}

.ui-widget-content {
  left: 11px !important;
}

.activitySearch-resultCountError {
  margin-top: 15px;
}

/* spot Marker */
.spotMap-listOuter > ul > li:first-child {
  margin-left: 0;
}

.spot01 .spotMap-itemInfo dt i {
  background-position: 0 -15px;
}

.spot02 .spotMap-itemInfo dt i {
  background-position: -11px -15px;
}

.spot03 .spotMap-itemInfo dt i {
  background-position: -22px -15px;
}

.spot04 .spotMap-itemInfo dt i {
  background-position: -33px -15px;
}

.spot05 .spotMap-itemInfo dt i {
  background-position: -44px -15px;
}

.spot06 .spotMap-itemInfo dt i {
  background-position: -55px -15px;
}

.spot07 .spotMap-itemInfo dt i {
  background-position: -66px -15px;
}

.spot08 .spotMap-itemInfo dt i {
  background-position: -77px -15px;
}

.spot09 .spotMap-itemInfo dt i {
  background-position: -88px -15px;
}

.spot10 .spotMap-itemInfo dt i {
  background-position: -99px -15px;
}

.spot11 .spotMap-itemInfo dt i {
  background-position: -110px -15px;
}

.spot12 .spotMap-itemInfo dt i {
  background-position: -121px -15px;
}

.spot13 .spotMap-itemInfo dt i {
  background-position: -132px -15px;
}

.spot14 .spotMap-itemInfo dt i {
  background-position: -143px -15px;
}

.spot15 .spotMap-itemInfo dt i {
  background-position: -154px -15px;
}

.spot16 .spotMap-itemInfo dt i {
  background-position: -165px -15px;
}

.spot17 .spotMap-itemInfo dt i {
  background-position: -176px -15px;
}

.spot18 .spotMap-itemInfo dt i {
  background-position: -187px -15px;
}

.spot19 .spotMap-itemInfo dt i {
  background-position: -198px -15px;
}

.spot20 .spotMap-itemInfo dt i {
  background-position: -209px -15px;
}

.spot21 .spotMap-itemInfo dt i {
  background-position: -220px -15px;
}

.spot22 .spotMap-itemInfo dt i {
  background-position: -231px -15px;
}

.spot23 .spotMap-itemInfo dt i {
  background-position: -242px -15px;
}

.spot24 .spotMap-itemInfo dt i {
  background-position: -253px -15px;
}

.spot25 .spotMap-itemInfo dt i {
  background-position: -264px -15px;
}

.spot26 .spotMap-itemInfo dt i {
  background-position: -275px -15px;
}

.spot27 .spotMap-itemInfo dt i {
  background-position: -286px -15px;
}

.spot28 .spotMap-itemInfo dt i {
  background-position: -297px -15px;
}

.spot29 .spotMap-itemInfo dt i {
  background-position: -308px -15px;
}

.spot30 .spotMap-itemInfo dt i {
  background-position: -319px -15px;
}
/* spot Marker */
